.login__root {
  background: url(https://assets.nflxext.com/ffe/siteui/vlv3/538717c0-f271-40e9-a99e-b07f9c521322/881b6b9a-eef3-4c67-8757-f5aa72f40fc7/GR-en-20210201-popsignuptwoweeks-perspective_alpha_website_small.jpg) center no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}

.login__banner {
  display: flex;
  justify-content: space-between;
  margin: 0 4vw;
}

.login__fade__top {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  background: rgba(0, 0, 0, .4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, .8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 0, .8) 100%
  );
}

.login__logo {
  z-index: 2;
  width: 10vw;
  object-fit: contain;
  margin: 2vw 0;
}

.login__button {
  color: #fff;
  z-index: 2;
  background-color: #e50914;
  cursor: pointer;
  padding: 7px 17px;
  line-height: normal;
  margin: 2vw 0;
  box-sizing: border-box;
  border: none;
  border-radius: 6%;
  font-family: sans-serif;
  float: right;
}

.login__button:focus {
  outline: none;
}

.login__body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 20vh;
  max-width: 48rem;
}

.login__body__row {
  display: flex;
  margin-bottom: 1rem;
  text-align: center;
}

.login__body__col {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.login__body__header {
  z-index: 3;
  color: white;
  margin: 0 auto;
  max-width: 40rem;
  font-size: 3.125rem;
  font-family: Arial, Helvetica, sans-serif;
}

.login__body__row2 {
  color: white;
  margin: 0 auto;
  z-index: 3;
  font-family: Arial, Helvetica, sans-serif;
}

.row3 {
  margin-top: 1.5rem;
  font-size: 1.3rem;
  font-weight: 400;
}

.login__body__email {
  z-index: 3;
  margin: 0 auto;
  height: 3.75rem;
  flex: stretch;
  width: 100%;
  flex-wrap: column;
  box-sizing: border-box;
  border-radius: 5px;
}

.login__body__email[type='email'] {
  padding-left: .5rem;
  color: black;
  font-weight: bold;
}

.login__body__email::placeholder {
  color: gray;
}

.login__body__button {
  z-index: 3;
  color: white;
  background-color: #e50914;
  flex: stretch;
  width: 70%;
  font-size: 1.5rem;
  flex-wrap: column;
  cursor: pointer;
  box-sizing: border-box;
  border: none;
}

.login__body__alert {
  color: orange;
  z-index: 1;
  margin-top: .5rem;
  display: none;
}

.show__alert {
  display: block;
}

.alert__row {
  display: flex;
}