@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

.loading__root {
  width: 100%;
  height: 100vh;
  display: flex;
  background-color: rgba(0, 0, 0, 1);
}

.loading__logo {
  position: relative;
  top: 50%;
  margin: 0 auto;
  width: 5rem;
  height: 5rem;
  background-color: rgba(0, 0, 0, 1);
  border: 5px solid  rgba(229, 9, 20, 1);
  border-right-color: rgba(0, 0, 0, 1);
  border-top-color: rgba(0, 0, 0, 1);
  border-radius: 50%;
  animation-fill-mode: backwards;
  animation: spin 1s linear infinite;
}
