.profile__root {
  background-color: #111;
  height: 100vh;
}

.profile__row__banner {
  display: flex;
  justify-content: space-between;
}

.profile__logo {
  width: 10vw;
  object-fit: contain;
  margin: 2vw 2vw;
}

.profile__avatar {
  position: fixed;
  right: 4.5rem;
  object-fit: contain;
  cursor: pointer;
  width: 2rem;
  top: .95rem;
}