.login__body > .signUp__root {
  z-index: 2;
  background-color: rgba(0, 0, 0, .75);
  max-width: 24rem;
  min-height: 25rem;
  padding-right: 4.25rem;
  padding-left: 4.25rem;
  padding-top: 3.75rem;
  margin: 0 auto;
  margin-top: -7rem;
  border-radius: 4px;
  width: 20rem;
}

.signUp__root > form {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  width: 100%;
}

.signUp__root > form > input {
  outline-width: 0;
  object-fit: contain;
  width: 100%;
  height: 2.5rem;
  border-radius: 4px;
  border: none;
  padding: 5px 0px;
  background-color: rgba(46, 46, 46, 1);
  caret-color: white;
  margin: 0 auto;
  margin-bottom: 2rem;
  box-sizing: border-box;
}

.signUp__root > form > input::placeholder {
  color: gray;
}

.signUp__input__mail[type="mail"], .signUp__input__password[type="password"] {
  color: #fff;
  font-size: 1rem;
  padding-left: 1rem;
}

.signUp__root > form > button {
  padding: 16px 20px;
  font-size: 1rem;
  font-weight: 400;
  color: #fff;
  border-radius: 4px;
  background-color: #e50914;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-top: 1.25rem;
  margin-bottom: 1rem;
}

.signUp__header {
  margin-left: 0;
  margin-bottom: 1.5rem;
  color: #fff;
}

.alertSignUp {
  margin-top: -1rem;
  margin-bottom: 1rem;
  font-size: .8rem;
}

.signIn__signUp {
  color: white;
  text-align: left;
}

.signUp__span__white {
  cursor: pointer;
}

.signUp__span__white:hover {
  text-decoration: underline;
}

.signUp__span__gray {
  color: gray;
}

.alert__error {
  margin-top: .5rem;
  text-align: center;
}