.nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex;
  height: 1.875rem;
  z-index: 1;
  justify-content: space-between;
  padding: 1.25rem;
  transition-timing-function: ease-in;
  transition: all .7s;
}

.nav__logo {
  cursor: pointer;
  position: fixed;
  left: 2.5rem;
  width: 5rem;
  object-fit: contain;
}

.nav__avatar {
  cursor: pointer;
  position: fixed;
  right: 4.5rem;
  object-fit: contain;
  width: 2rem;
  top: .95rem;
}

.nav__black {
  background-color: #111;
}

.nav__row {
  display: flex;
  position: fixed;
  left: 9.5rem;
  top: 1.4rem;
  color: white;
  cursor: pointer;
  justify-content: space-between;
}

.nav__home, .nav__series, .nav__films, .nav__news, .nav__list {
  margin-left: 1.25rem;
  height: 1rem;
}

.nav__home:hover, .nav__series:hover, .nav__films:hover, .nav__news:hover, .nav__list:hover {
  color: lightgray;
}

.fa-bell {
  cursor: pointer;
  position: fixed;
  color: white;
  object-fit: contain;
  transform: scale(1.4);
  right: 8rem;
  top: 1.4rem;
}

.fa-gift {
  cursor: pointer;
  position: fixed;
  color: white;
  object-fit: contain;
  transform: scale(1.8);
  right: 11.5rem;
  top: 1.4rem;
}

.nav__children {
  cursor: pointer;
  position: fixed;
  color: white;
  right: 14.8rem;
  top: 1.4rem;
}

.fa-search {
  display: none;
  cursor: pointer;
  position: fixed;
  color: white;
  right: 21rem;
  transform: scale(1.2);
  top: 1.4rem;
}

.nav span {
  cursor: pointer;
  position: fixed;
  color: white;
  right: 2.8rem;
  transform: scaleX(1);
  transform: scaleY(.45);
  top: 1.4rem;
  width: 1rem;
}

.search__bar {
  display: none;
  width: 30rem;
}

.search__bar__input {
  width: 15rem;
  position: fixed;
  top: 1rem;
  right: 20rem;
  padding: .5rem 0;
  border: 1px solid white;
  caret-color: white;
}

.search__bar__input[type="text"] {
  background-color : black;
  color: white;
}

.search__bar__input::-webkit-input-placeholder,
.search__bar__input:-ms-input-placeholder,
.search__bar__input::placeholder {
  color: lightgray;
  padding-left: 2rem;
  margin-left: 2rem;
}

.search__bar__input:active,
.search__bar__input:active,
.search__bar__input:active {
  border: 1px solid white;
}

.search__barShow {
  display: block!important;
}

.second-search {
  position: fixed;
  right: 33.5rem;
}