.footer {
  height: 20rem;
  align-items: center;
}

.footer__social {
  display: flex;
  margin: 0 10rem;
  margin-top: 5rem;
}

.social {
  color: gray;
  justify-content: space-evenly;
  margin: auto .8rem;
  font-size: 2rem;
  cursor: pointer;
}

.footer__col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 3rem;
}

.footer__row {
  display: flex;
  margin: 1rem 11rem;
  color: gray;
  
}

.footer__col h5:hover {
  text-decoration: underline;
  text-decoration: gray;
}

.footer__col h5 {
  margin-bottom: 1rem;
  cursor: pointer;
}

.footer__col h4 {
  margin-bottom: 1rem;
}

.footer__button {
  color: gray;
  background-color: #111;
  cursor: pointer;
  border: 1px solid gray;
  height: 2rem;
}

.footer__button:hover {
  color: white;
}

.footer__row span {
  font-size: .6875rem;
}