.footer {
  /* height: 20rem; */
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 2rem;
  gap: 8px;
}

.footer__social {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 24px;
  padding: 1rem 0;
}

.social {
  color: gray;
  justify-content: space-evenly;
  font-size: 2rem;
  cursor: pointer;
}

.footer__col {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-right: 3rem;
}

.footer__row {
  display: flex;
  color: gray;
}

.footer__col h5:hover {
  text-decoration: underline;
  text-decoration: gray;
}

.footer__col h5 {
  margin-bottom: 1rem;
  cursor: pointer;
}

.footer__col h4 {
  margin-bottom: 1rem;
}

.footer__button {
  color: gray;
  background-color: #111;
  cursor: pointer;
  border: 1px solid gray;
  height: 2rem;
}

.footer__button:hover {
  color: white;
}

.footer__row span {
  font-size: 0.6875rem;
}

@media (max-width: 600px) {
  .footer__row {
    flex-direction: column;
  }
}
